
body{
    background-color: blue;
}

body{
    background-color: green
}

body{
    background-color: red;
}
body{
    background-color: gray;
}
body{
    background-color: black;
}
body{
    background-color: blanchedalmond;
}
body{
    background-color: hotpink;
}
body{
    background-color: greenyellow;
}
body{
    background-color: purple;
}
body{
    background-color: palegoldenrod;
}